@model MovieFinder.Models.Movie

@{
    ViewData["Title"] = "MovieDetail";
}

@Html.DisplayFor(model => model.NameTr)

<div class="line">

    <div class="card" id="movie">
        <a asp-action="MovieDetail" asp-route-id="@Model.Id">   <img src="/img/filmler/@Model.LogoUrl" alt="Avatar" style="width:100%"></a>

        <div class="container">
            <h4><b>@Html.DisplayFor(modelItem => Model.NameTr)</b></h4>
            <p>Score: @Html.DisplayFor(modelItem => Model.Score)</p>
        </div>
    </div>

</div>


<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameTr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameTr)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LogoUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LogoUrl)
        </dd>

        <dt class="col-sm-2">
            Director
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director.Name) @Html.DisplayFor(model => model.Director.SurName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrailerUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrailerUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionTR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionTR)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
