@model IEnumerable<MovieFinder.Models.Movie>

@{
    ViewData["Title"] = "Index";
    int i = 0;
}

<p>
    <a asp-action="Create">Yeni film oluştur</a>
</p>

<h1>@TempData["category"]</h1>

<div class="line">
    @foreach (var item in Model)
    {
        <div class="card" id="movie">
            <a asp-action="MovieDetail" asp-route-id="@item.Id">   <img src="/img/filmler/@item.LogoUrl" alt="Avatar" style="width:100%"></a>

            <div class="container">
                <h4><b>@Html.DisplayFor(modelItem => item.NameTr)</b></h4>
                <p>Score: @Html.DisplayFor(modelItem => item.Score)</p>
            </div>
        </div>

    }
</div>



@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Logo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trailer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductionTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Score)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="MovieDetail" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Logo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trailer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
