@model MovieFinder.Models.MovieRecord

@{
    ViewData["Title"] = "MovieDetail";
    string culture = "", uiculture = "";
}


@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<label>Language:</label>
<select onchange="SetCulture(this.value)" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems">
</select>

<div asp-validation-summary="All" class="text-danger"></div>
@{
    
    if (Context.Request.QueryString.HasValue)
    {
        string url = Context.Request.QueryString.Value;
        culture = Context.Request.Query["culture"];
        uiculture = Context.Request.Query["ui-culture"];
    }
}


<style>
    * {
        box-sizing: border-box;
    }

    .movieimg {
        float: left;
        width: 353px;
    }

    .movietrailer {
        float: left;
        width: 753px;
    }

    .movietitle {
        float: left;
        width: 1020px;
        height: 60px;
    }

    .moviescore {
        float: left;
        width: 80PX;
        height: 60px;
    }

    .movieinfo {
        float: left;
        width: 100%;
        padding-top: 10px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 30px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>


<div style="background-color:#000">

    <div class="clearfix">
        <div class="movietitle" style="background-color:#000">
            <h1 style="color: white; padding-left: 14px;"> @Html.DisplayFor(modelItem => Model.Movie.NameTr)</h1>
        </div>
        <div class="moviescore" style="background-color:#000;">
            <div class="row">
                <div data-value=@Model.Movie.Score.ToString() id="" style="--circle-size: 80px;">
                    <div data-progress-type="POINT"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix">
        <div class="movieimg">
            <a asp-action="MovieDetail" asp-route-id="@Model.Movie.Id">   <img src="/img/filmler/@Model.Movie.LogoUrl" alt="Avatar" width="353" height="470"></a>
        </div>
        <div class="movietrailer">
            <iframe width="753" height="472" src=@Model.Movie.TrailerUrl title=@Model.Movie.NameTr frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div style="background-color:black">

    <div class="movieinfo" style="background-color:black">
        <dl class="row" style="color:white">

            <dt class="col-sm-12" style="font-size: x-large">
                @Localizer["Category"]
            </dt>
            <dd class="col-sm-12" style="font-size: x-large">
                @foreach (Category c in Model.Categories)
                {

                    <a asp-action="MovieCategory" asp-route-id="@c.Id">
                        @c.Type.ToString();
                    </a>
                }
            </dd>
            <dt class="col-sm-12" style="font-size: x-large">
                @Localizer["Director"]
            </dt>
            <dd class="col-sm-12" style="font-size: x-large">
                <a asp-action="DirectorMovies" asp-route-id="@Model.Movie.Director.Id">
                    @Html.DisplayFor(model => model.Movie.Director.Name) @Html.DisplayFor(model => model.Movie.Director.SurName)
                </a>
            </dd>

            <dt class="col-sm-12" style="font-size:x-large">
                @Localizer["ProdictionYear"]
            </dt>
            <dd class="col-sm-12" style="font-size:x-large">
                @Html.DisplayFor(model => model.Movie.ProductionYear)
            </dd>

            <dd class="text-justify" style="padding-left: 14px; padding-right:14px">
                @if (culture == "en-US" || culture == "fr")
                {
                    @Html.DisplayFor(model => model.Movie.DescriptionEN)
                }
                else
                {
                    @Html.DisplayFor(model => model.Movie.DescriptionTR)
                }


            </dd>
        </dl>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Movie.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model.Movie.Id">Delete</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
}


<script>
    function SetCulture(selectedValue) {
        var url = window.location.href.split('?')[0];
        var culture = "?culture=" + selectedValue + "&ui-culture=" + selectedValue;
        window.location.href = url + culture;
    }
</script>












